<div class="header">
  <div class="bg-img"></div>
  <div class="header-info">
    <div>
      <h1 class="header-info-slogan">Go BrandYul Go!</h1>
      <p class="header-info-desc">Our aim is to create highest positive impact on our country by enabling commerce through technology</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row py-5 mb-4">
    <div class="col-12 text-center" style="color: #706e6e">
      <h1 class="text-uppercase my-3">About Us</h1>
      <p>
        We are planning to establish in 2021 with an ambition to provide our customers,
        sellers and vendors a flawless e-commerce experience. Today we are going to be only Uzbekistan's
        leading e-commerce company, but also amongst the worlds leading platforms.
        By supporting the digitization of our tradesmen and SMEs, we will allow them
        to reach more customers and grow their business. Also, we will support women's
        participation in the digital economy, domestic production and local producers.
        Thus, we are able to make a significant contribution to the growth of our country's
        economy and increase employment.
        As Uzbekistan's Brandyul, we maintain our country's leading R&D center.</p>
    </div>
  </div>
</div>
