<div class="container ">
  <h1 class="text-center text-uppercase my-5" style="color: #706e6e">Contact us</h1>
  <div class="row bg-white py-2 mb-5">
    <div class="col-md-6 mr-auto p-4 contact-form-box">
      <form action="">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email">
        </div>
        <div class="form-group">
          <label for="inquire">Inquire</label>
          <input type="text" class="form-control" id="inquire">
        </div>
        <button class="btn btn-submit d-block ml-auto">Submit</button>
      </form>
    </div>
    <div class="col-md-6 ml-auto p-4 bg-white text-center">
      <div class="campus-address">
        <h2 class="default-color " >BrandYul Campus</h2>
        <h5 style="color: #706e6e">BrandYul Group And Sales Trade Ins, NestOne Business Center 41th Floor, 23 room, Tashkent</h5>
      </div>
      <div class="campus-address">
        <h2 class="default-color " >Operation Center</h2>
        <h5 style="color: #706e6e">BrandYul Group And Sales Trade Ins, NestOne Business Center 12th Floor, 29 room, Tashkent</h5>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">

    </div>
  </div>
</div>
