<div class="row">
  <div class="col-md-3 my-3" *ngFor="let product of products" >
    <a
      [routerLink]="['/products', product.id]"
      class="card text-decoration-none text-dark">
      <img [src]="product.imagePath" alt="{{product.name}}" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{product.name}} ${{product.price}}</h5>
        <p class="card-text">{{product.desc}}</p>
        <a type="submit" class="btn btn-add-shopping">View in Detail</a></div>
    </a>
  </div>
</div>
