<footer class="bg-dark text-white py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a href="#" class="text-white"><h4>BrandYul</h4></a>
        <a [routerLink]="['/about']" class="text-white"><p>who are we</p></a>
        <a href="#" class="text-white"><p>Career</p></a>
        <a [routerLink]="['/contact']" class="text-white"><p>Contact</p></a>
        <a href="#" class="text-white"><p>Sell on BrandYul</p></a>
      </div>
      <div class="col-md-3">
        <a [routerLink]="['/about']" class="text-white"><h4>About Us</h4></a>
        <a [routerLink]="['/about']" class="text-white"><p>who are we</p></a>
        <a href="#" class="text-white"><p>Career</p></a>
        <a [routerLink]="['/contact']" class="text-white"><p>Contact</p></a>
      </div>
      <div class="col-md-3">
        <a href="#" class="text-white"><h4>Campaigns</h4></a>
        <a href="#" class="text-white"><p>Active Campaigns</p></a>
        <a href="#" class="text-white"><p>Elite Membership</p></a>
        <a href="#" class="text-white"><p>Daily Deals</p></a>
        <a href="#" class="text-white"><p>BrandYul Deals</p></a>
      </div>
      <div class="col-md-3">
        <a href="#" class="text-white"><h4>Help</h4></a>
        <a href="#" class="text-white"><p>Frequently Asked Questions</p></a>
        <a href="#" class="text-white"><p>Live Help</p></a>
        <a href="#" class="text-white"><p>How Can I Return</p></a>
        <a href="#" class="text-white"><p>Operation Guide</p></a>
      </div>
    </div>
  </div>
</footer>
<div class="d-flex justify-content-around copyright my-0 text-white pt-3 pb-2" style="background: #2d2d2d">
  <p>
    <i class="fa fa-copyright"></i>
    2021 Brothers Group Association, All Rights Reserved.
  </p>
  <div class="d-flex">
    <a class="px-1 text-decoration-none text-white" routerLink="">Privacy Policy</a>
    <a class="px-1 text-decoration-none text-white" routerLink="">Brother Group</a>
    <a class="px-1 text-decoration-none text-white" routerLink="">Terms of Use</a>
  </div>
</div>
