<div class="container mx-auto">
  <div class="row mx-auto">
    <div class="col-md-6 mx-auto">
      <div class="textbox text-center">
        <h1>Hello {{isLogin ? loggedUser.username : ''}}</h1>
        <h5 *ngIf="!isLogin">Login to BrandYuL, do not miss the discounts</h5>
      </div>
      <div class="loginbox" *ngIf="!isLogin">
        <form class="py-5 mx-auto" [formGroup]="loginForm" (ngSubmit)="OnSubmit()">
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              formControlName="email"
              required
              email>
            <small class="text-danger"
                   *ngIf="email?.errors?.required && (email?.touched || email?.dirty)">Email is required</small>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              formControlName="password"
              required
              minlength="8">
            <small class="text-danger"
                   *ngIf="password?.errors?.required && (password?.touched || password?.dirty)">Password is required and minimum 8 characters</small>
          </div>
          <button class="btn form-control" type="submit" [disabled]="!loginForm.valid">Login</button>
          <div class="form-group my-3 text-center">
            <p>You have not had an account yet.
              <a class="text-danger" routerLink="/register">Register Here</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
